<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BeCaptchaWeb</title>  
	<!-- .............................. SCRIPTS .............................. -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}">
	<!-- FIREBASE -->
	<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
	<!-- READ INFO SCRIPT -->
	<script src="{{ url_for('static',filename='readinfo.js') }}"> </script>
	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<!-- .............................. SCRIPTS .............................. -->
</head>

<body>
	<section class="container">
		<div class="box3">
			<h2>Demostrador del procesamiento de ambos sensores simultáneamente. (Interacción táctil + Aceleración)</h2>
			Opciones:
			<ol>
				<li>Generar una secuencia a partir de ruido aleatorio gaussiano y obtener un score empleando el generador y discriminador entrenados con la GAN.</li>
			</ol>
			<ul class="no-bullets">
				<li>Opción 1:</li>
				<ul class="no-bullets">
					<li><button onclick="showbox('ganbox')">Generar secuencias a partir de ruido aleatorio</button></li>
				</ul>
			</ul>

		</div>
		
		<div id="output"></div>

		<div id="ganbox" style="display:none">Cargando red neuronal...<img src="/static/loader.gif" alt="Cargando..."></div>
		<div class="box5">
			<span class="red">Esta red neuronal se considera EXPERIMENTAL. No se ha conseguido generar muestras suficientemente parecidas a las reales de forma conjunta.</span></br>

			Información de clasificación humano/bot:
			<ul>
				<li>Generador empleado:</li>
				<button id="btnmodel2">Ver modelo</button>
				<div id="modalbtn2" class="modal" style="display:none">
				  <div class="modal-content">
				    <button id="close2" class="close">&times;</button>
				    <p><img src="/static/2p2s_generator_model.png"></p>
				  </div>
				</div>			
				<li>Discriminador empleado:</li>
					<button id="btnmodel">Ver modelo</button>
					<div id="modalbtn" class="modal" style="display:none">
					  <div class="modal-content">
					    <button id="closeB" class="close">&times;</button>
					    <p><img src="/static/2p2s_discriminator_model.png"></p>
					  </div>
					</div>
				<li>Interpretación del score:</li>
				<ul>
					<li>Humano: Si score cercano a 0</li>
					<li>Bot: Si score cercano a 1</li>
				</ul>
			</ul>
		</div>
		<div class="box2"><p align="center"><a href=/><button>Volver</button></a></p></div>
		  <script>

			// Codigo para ver modelo NN
			function showmodal(model_btn,btn_id,close_id){
				var modal = document.getElementById(model_btn);
				var btn = document.getElementById(btn_id);
				var span = document.getElementById(close_id);
				btn.onclick = function() {modal.style.display = "block";}
				span.onclick = function() {modal.style.display = "none";}
			}

			showmodal("modalbtn","btnmodel","closeB");
			showmodal("modalbtn2","btnmodel2","close2");


			function showbox(box){
				document.getElementById("output").innerHTML = "";
				//Mostrar caja correspondiente
			    var x = document.getElementById(box);
			    if (x.style.display === "none"){x.style.display = "block";}

			    if (box=='ganbox'){
			    	//Enviarlo peticion a FLASK para generar ambas secuencias
	            	var seq = 'generateSwipeAndLacc';
		            $.ajax({
		                type: 'POST',
		                url: "/rcv_2path2sensorGANrequest",
		                contentType: 'application/json;charset=UTF-8',  
		                data: JSON.stringify(seq),
		                success: function (data) {
		                    //Añadir el codigo HTML recibido de FLASK a la web a traves del objeto HTML 'output'
		                    $('#output').html(data);
		                }
		            });
	            console.log("Secuencia de GAN recibida")
			    }
			}
		  </script>

		</div>

	</section>

</body>
</html>
